venv/
__pycache__/
*.pyc
.env

# Ignore everything in data by default
data/*
!data/.keep
!data/eval_questions.json

# Un-ignore the PDFs so the app can list them in the UI
!data/raw_pdfs/
data/raw_pdfs/*
!data/raw_pdfs/.keep
!data/raw_pdfs/*.pdf

# Allow the built database files to be pushed
!data/chroma_db/
!data/chroma_db/*

models/*
!models/.keep
.pytest_cache/
.chroma/
logs/*
!logs/.keep
